#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# Set these variables for the test suite.
export LARCH_PATH := .:$(CURDIR)/lib
export LCLIMPORTDIR := .:$(CURDIR)/imports

# Force non-parallel builds, as splint
# sometimes fails to build in parallel.
%:
	dh $@ --no-parallel

override_dh_auto_test-arch:
	dh_auto_test -a -- -C test

override_dh_auto_test-indep:

override_dh_auto_install-arch:
	$(MAKE) DESTDIR=$(CURDIR)/debian/splint install-exec

override_dh_auto_install-indep:
	$(MAKE) DESTDIR=$(CURDIR)/debian/splint-data install-data

override_dh_installchangelogs:
	dh_installchangelogs doc/changes.html

get-orig-source:
	uscan --force

.PHONY: get-orig-source
